body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u32451 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u32452 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:93px;
}
#u32453 {
  position:absolute;
  left:451px;
  top:130px;
  width:548px;
  height:93px;
}
#u32454 {
  position:absolute;
  left:2px;
  top:38px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32455 {
  position:absolute;
  left:459px;
  top:142px;
  width:411px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u32456 {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  white-space:nowrap;
}
#u32457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32457 {
  position:absolute;
  left:445px;
  top:266px;
  width:98px;
  height:98px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32458 {
  position:absolute;
  left:2px;
  top:40px;
  width:94px;
  word-wrap:break-word;
}
#u32459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32459 {
  position:absolute;
  left:558px;
  top:266px;
  width:98px;
  height:98px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32460 {
  position:absolute;
  left:2px;
  top:40px;
  width:94px;
  word-wrap:break-word;
}
#u32461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:121px;
}
#u32461 {
  position:absolute;
  left:668px;
  top:264px;
  width:214px;
  height:121px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32462 {
  position:absolute;
  left:2px;
  top:52px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
