body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u43328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1357px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43328 {
  position:absolute;
  left:0px;
  top:44px;
  width:1440px;
  height:1357px;
}
#u43329 {
  position:absolute;
  left:2px;
  top:670px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43332 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:48px;
}
#u43333 {
  position:absolute;
  left:2px;
  top:16px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u43334 {
  position:absolute;
  left:81px;
  top:14px;
  width:55px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u43335 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u43336_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:91px;
  height:54px;
}
#u43336 {
  position:absolute;
  left:20px;
  top:7px;
  width:51px;
  height:33px;
  font-size:12px;
}
#u43337 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u43338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u43338 {
  position:absolute;
  left:157px;
  top:14px;
  width:1px;
  height:19px;
}
#u43339 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u43340 {
  position:absolute;
  left:181px;
  top:10px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u43341 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u43342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:952px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u43342 {
  position:absolute;
  left:119px;
  top:115px;
  width:1200px;
  height:952px;
  font-size:18px;
}
#u43343 {
  position:absolute;
  left:2px;
  top:468px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:55px;
}
#u43344 {
  position:absolute;
  left:119px;
  top:62px;
  width:1200px;
  height:55px;
}
#u43345 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u43346 {
  position:absolute;
  left:150px;
  top:81px;
  width:165px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u43347 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u43348_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:160px;
  height:131px;
}
#u43348 {
  position:absolute;
  left:659px;
  top:302px;
  width:120px;
  height:110px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u43349 {
  position:absolute;
  left:2px;
  top:46px;
  width:116px;
  word-wrap:break-word;
}
#u43350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u43350 {
  position:absolute;
  left:655px;
  top:436px;
  width:141px;
  height:29px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:28px;
}
#u43351 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
