<%- include ../include/header.html%>
<section>
	<div class="left-wrap">
		<h2><%= article.title %></h2>
		<div class="small-title">
			<span class="datetime-title"><%= article.createTime %></span>
			<span class="number">22971</span>
		</div>

		<div class="imgWrap">
			<img src="/webIndex/images/community/banner01.png" alt="">
		</div>

		<%- article.text%>
		<div class="loveNum">
			<div class="imgW" id="J_praise">
				<img src="/webIndex/images/community/icon-2.png" alt="">
				<span id="J_count">229</span>
			</div>
			<ul>
				<li><img src="/webIndex/images/community/weixin.png" alt=""></li>
				<li><img src="/webIndex/images/community/weibo.png" alt=""></li>
			</ul>
		</div>

		<div class="line"></div>

		<div class="comment">
			<p><b></b>评论 <span id="J_commentNum">9</span></p>
			<textArea id="j_comContent"></textArea>
			<a href="javascript:;" id="j_btnPublish">发表评论</a>
		</div>
		<ul class="comment-cont" id="J_commentUl">
			<li>
				<div>
					<div class="icon-img">
						<img src="/webIndex/images/community/fl.png" alt="">
					</div>
					<div class="comm-right-wrap">
						<div>
							<span>fighting~ </span><b> • 1个月前</b>
						</div>
						<p>sad</p>
						<span class="reply">回复</span>
					</div>
				</div>
			</li>
			<li>
				<div>
					<div class="icon-img">
						<img src="/webIndex/images/community/ad.png" alt="">
					</div>
					<div class="comm-right-wrap">
						<div>
							<span>ading258</span><b> • 1个月前</b>
						</div>
						<p>一声叹息</p>
						<span class="reply">回复</span>
					</div>
				</div>
			</li>
			<li>
				<div>
					<div class="icon-img">
						<img src="/webIndex/images/community/aidozhu.png" alt="">
					</div>
					<div class="comm-right-wrap">
						<div>
							<span>aidozhu</span><b> • 1个月前</b>
						</div>
						<p>难怪这周一直上不去Pin网</p>
						<span class="reply">回复</span>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<div class="right-wrap">
		<div class="outline-wrap">
			<div class="right-content-wrap">
				<div class="divWrap">
					<img src="/webIndex/images/community/biji.png" alt="">
				</div>
				<h3>VC投资笔记</h3>
				<div class="article-Num">
					共发表<span>10</span>篇
				</div>

			</div>
		</div>
	</div>
</section>
<div class="clear"></div>
<div class="adban">
	<!-- <img src="images/adban.png" alt=""> -->
	<div class="Use-adban">
		<div class="goexp">
			<div class="textexp">
				点映秀
			</div>
			<p>无论何时何地，你的作品都能被有效宣发出去，让更多人知道</p>
			<div class="goexp-btn"><a href="">马上体验</a></div>
		</div>
	</div>
</div>
<div class="am-container-1">
	<div class="solutions part-all">
		<div class="part-title1">
			<img  class="telicon" src="/webIndex/images/tel.png" alt="">
		</div>
	</div>
	<div class="solutions part-all">
		<div class="part-title1">
			<a href="#">
				<span class="am-title-span">新用户咨询专线</span>
			</a>
		</div>
	</div>
	<div class="solutions part-all">
		<div class="part-title1">
			<a href="#">
				<span class="part-title-span1">通过以下方式联系我们的广告专家，了解更多信息</span>
			</a>
		</div>
	</div>
	<div class="solutions part-all">
		<div class="part-title1">
			<a href="#">
				<span class="part-title-span2">400-123-1234</span>
			</a>
		</div>
	</div>
	<div class="solutions part-all">
		<div class="part-title1">
			<a href="#">
				<span class="part-title-span3">专家工作时间周一到周五9:00-18:00</span>
			</a>
		</div>
		<center><img src="/webIndex/images/erweima.png" style="margin-top: 30px"></center>
	</div>

</div>
<footer class="footer">
	<div class="footertitle" style="border:none">
		<div class="left hw-logo">
			<p class="corp">点映秀(北京)科技有限公司 &nbsp;&nbsp;&nbsp;版权所有</p>
		</div>
	</div>
</footer>

</body>
<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="webAssets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/webIndex/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/webIndex/js/amazeui.min.js"></script>

<script src="/webIndex/js/main.js"></script>
<script src="/webIndex/js/swiper.min.js"></script>
<script src="/webIndex/js/index.js"></script>
<script>
	gold.init();

	function btn_login() {
		window.location = '/website/login';
	}

	function btn_reg() {
		window.location = '/website/reg';
	}
	function btn_logout() {
		window.location.href = '/website/user/logout'
	}

	var btnPublishEle = document.getElementById("j_btnPublish");
	var comContentEle = document.getElementById("j_comContent");
	var praiseEle = document.getElementById("J_praise");
	var countEle = document.getElementById("J_count");
	var commentNumEle = document.getElementById("J_commentNum");
	var commentUlEle = document.getElementById("J_commentUl");
	//var commentNum = parseInt(commentNumEle.innerHTML);
	function comment(){
		//var comContent = comContentEle.innerHTML;
		//var commentNum = commentNumEle.innerHTML;
		//var comContent = comContentEle.innerHTML;
		//var commentNum = commentNumEle.innerHTML;

		commentNumEle.innerHTML = parseInt(commentNumEle.innerHTML)+1;

		var html = '<li><div><div class="icon-img"><img src="/webIndex/images/community/fl.png" alt=""></div><div class="comm-right-wrap"><div><span>fighting~ </span><b> • 1分钟前</b></div><p>'+comContentEle.value+'</p><span class="reply">回复</span></div></div></li>';
		html +=commentUlEle.innerHTML ;
		commentUlEle.innerHTML = html;
	}


	btnPublishEle.onclick = function(){
		comment();
		//alert(comContent);
		//alert(commentNum);
	}

	var praiseFlag = true;
	praiseEle.onclick = function(){
		var count = parseInt(countEle.innerHTML);
		if(praiseFlag){
			countEle.innerHTML = ++count;
			praiseFlag = false;
		}else{
			countEle.innerHTML = --count;
			praiseFlag = true;
		}


	}

</script>

</html>