<%- include ../include/header.html%>
			<div class="Useban">
				<div class="Usebanin">
					<p class="course">使用教程</p>
					<p class="course-time">掌握制作方法，只需要一杯咖啡的时间</p>		
				</div>
				<img src="/webIndex/images/funban.png" alt="" class="funimg">
			</div>
			<div class="Use-couser">
		      <ul class="Use-item">
		      		<div class="line"></div>
		            <li class="Use-item-list li-borderb">全部</li>
		            <li class="Use-item-list">新手入门</li>

		            <div class="clear"></div>
		      </ul>
		      <div class="videotab-item">
		          <div class="itemtab itemtabblock">
		            <ul>
		            	<li class="item-video" data-href="images/movie.mp4">
		            		<a data-width="1000" data-height="460">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h51秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<li class="item-video" data-href="images/movie.mp4">
		            		<a >
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h5秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<li class="item-video" data-href="images/movie.mp4">
		            		<a href="javascript:;">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h5秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<li class="item-video" data-href="images/op.mp4">
		            		<a href="javascript:;">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h5秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<li class="item-video">
		            		<a href="javascript:;">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h5秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<li class="item-video">
		            		<a href="">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h5秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<div class="clear"></div>
		            </ul>
		          </div>
		          <div class="itemtab">
		            <ul>
		            	<li class="item-video">
		            		<a href="">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h52秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<li class="item-video">
		            		<a href="">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h5秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<li class="item-video">
		            		<a href="">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h5秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<li class="item-video">
		            		<a href="">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h5秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<li class="item-video">
		            		<a href="">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h5秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            	<li class="item-video">
		            		<a href="">
		            			<img src="/webIndex/images/videoimg.png" alt="" class="videoimg">
		            			<p>如何创建一个h5秀</p>
		            			<div class="coverimg">
		            				<img src="/webIndex/images/playv.png" alt="">
		            			</div>	
		            		</a>
		            	</li>
		            </ul>
		            <div class="clear"></div>
		          </div>
		      </div>
		    <div class="use-page">
            <ul 
              class="use-pagination use-pagination-default"
              >

              <li class="use-pagination-pre ">
                <a href="#" class="">上一页</a>
              </li>
                  <li class="">
                    <a href="#" class="use-active">1</a>
                  </li>
                  <li class="">
                    <a href="#">2</a>
                  </li>
                  <li class="">
                    <a href="#" class="">3</a>
                  </li>
                  <li class="use-pagination-next ">
                <a href="#" class="">下一页</a>
              </li>

            </ul>
            <div class="clear"></div>
          </div>
		  </div>
			<div class="adban">
				<!-- <img src="images/adban.png" alt=""> -->
				<div class="Use-adban">
					<div class="goexp">
						<div class="textexp">
							点映秀
						</div>
						<p>无论何时何地，你的作品都能被有效宣发出去，让更多人知道</p>
						<div class="goexp-btn"><a href="">马上体验</a></div>
					</div>
				</div>
			</div>
			<div class="am-container-1">
				<div class="solutions part-all">
					<div class="part-title1">
						<img  class="telicon" src="/webIndex/images/tel.png" alt="">
					</div>
				</div>
				<div class="solutions part-all">
					<div class="part-title1">
						<a href="#">
							<span class="am-title-span">新用户咨询专线</span>
						</a>
					</div>
				</div>
				<div class="solutions part-all">
					<div class="part-title1">
						<a href="#">
							<span class="part-title-span1">通过以下方式联系我们的广告专家，了解更多信息</span>
						</a>
					</div>
				</div>
				<div class="solutions part-all">
					<div class="part-title1">
						<a href="#">
							<span class="part-title-span2">400-123-1234</span>
						</a>
					</div>
				</div>
				<div class="solutions part-all">
					<div class="part-title1">
						<a href="#">
							<span class="part-title-span3">专家工作时间周一到周五9:00-18:00</span>
						</a>
					</div>
					<center><img src="/webIndex/images/erweima.png" style="margin-top: 30px"></center>
				</div>
						
			</div>
			<footer class="footer">
				<div class="footertitle" style="border:none">
					<div class="left hw-logo">
						<p class="corp">点映秀(北京)科技有限公司 &nbsp;&nbsp;&nbsp;版权所有</p>
					</div>
				</div>
			</footer>

	</body>
	<!--[if lt IE 9]>
		<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
		<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
	<![endif]-->

	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="/webIndex/js/jquery.min.js"></script>
	<!--<![endif]-->
	<script src="/webIndex/js/amazeui.min.js"></script>

	<script src="/webIndex/js/main.js"></script>
	<script src="/webIndex/js/swiper.min.js"></script>
	<script src="/webIndex/js/index.js"></script>
<!-- 	// <script type="text/javascript" src="js/jwplayer.js"></script> -->
<!-- 	// <script type="text/javascript" src="js/jquery.fancybox.js"></script> -->
	<script>
		gold.init();

		function btn_login() {
			window.location = 'login.html'
		}

		function btn_reg() {
			window.location = 'reg.html'
		}
	</script>
	<style type="text/css">/*控制条的样式*/
	html{
		height: 100%;
	}
.video_play_main_div{background-color:rgba(0,0,0,0.6);width:100%;height:100%; position:fixed;top:0;left:0;z-index: 999}
.video_play_main_div .header{height:45px;}
.video_play_main_div .header a:nth-child(1){display: block;float: left;}
.video_play_main_div .header a:nth-child(1) img{height: 20px;margin-top: 12.5px;margin-left: 12.5px;}
.video_play_main_div .header a:nth-child(2){display: block;float: right;}
.video_play_main_div .header a:nth-child(2) img{height: 35px;margin-top: 5px;margin-right: 7px;}
.video_play_main_div .play_video{width:100%;position:absolute;top:50%;}
.video_play_main_div .play_video .preview{display:none;top: 50%;position: relative;height: 20px;text-align: center;background-color: white;border-radius: 20px;width: auto;}
.video_play_main_div .replay_name{color: white;position: absolute;bottom: 0px;margin-bottom: 20%;width: 100%;text-align: center;}
.the3ctv_video_control{width:100%;position:absolute;z-index: 3;background-color: black;height:32px;bottom:0;}
.the3ctv_video_control a:nth-child(1){position: relative;float: left;}
.the3ctv_video_control a:nth-child(1) img{width: 25px;margin-left: 10px;}
.the3ctv_video_control em{float:left;color:white;margin-top:4px;}
.the3ctv_video_control em i:nth-child(1){}
.the3ctv_video_control em i:nth-child(2){color:#b4b4b4;}
.the3ctv_video_control span{display: block;height: 4px;width:70%;margin-left: 2%;background-color: #505050;border-radius: 4px;margin-top: 11px;float:left;}
.the3ctv_video_control span b:nth-child(1){z-index:1;float:left;position:relative;width: 0%;background-color: #b4b4b4;display: block;height: 100%;border-radius: 4px;}
.the3ctv_video_control span b:nth-child(2){z-index:2;position:relative;float: left;width: 8px;height: 8px;background-color: white;border-radius: 8px;margin-top: -2px;margin-left: -8px;}
.the3ctv_video_control span b:nth-child(3){position: relative;background-color: white;display: block;height: 4px;border-radius: 4px;}
.the3ctv_video_control u{float:right;}
.the3ctv_video_control u img{display: block;width: 25px;margin-left: 5px;}
.trump-control-bottom,.trump-control-bottom-flow{display:none;}
.the3ctv_video_control img{
width: 20px;
height: 24px;
margin-right: 10px;
}
video::-webkit-media-controls-enclosure {
    /*禁用播放器控制栏的样式*/
    /*display: none !important;*/
}
.videobox{
    width: 848px;
    height: 500px;
    position: absolute;
    left:50%;
    margin-left: -414px;
    top:50%;
    margin-top: -250px;
}
.videobg{
	display: block;
	width: 120px;
	height: 46px;
	position: absolute;
	right: 20px;
	line-height: 46px;
	text-align: center;
	top:30px;
	background: #ea5147;
	color: #fff;
	border-radius: 4px; 
}
</style>
	<script type="text/javascript">
var flag = false;
     var initProgressBar = function(){        //进度条相关操作
         var main_div = $("#wap_video_play_main_div");
         var video = $("video",main_div);
         var timeDrag = false;   /* Drag status */
         $("span[name='progress']",main_div).mousedown(function(e) {     //进度条的按下操作
            timeDrag = true; 
            updatebar(e.pageX);
         });
         $(document).mouseup(function(e) {               //松开
            if(timeDrag) {
               timeDrag = false;
               updatebar(e.pageX);
            }
         });
         $(document).mousemove(function(e) {  //鼠标移动事件
            if(timeDrag) {
               updatebar(e.pageX);
            }
         });

         //update Progress Bar control
         var updatebar = function(x) {  //更新时间与播放条进度
            var progress = $("span[name='progress']",main_div);
            var maxduration = video[0].duration; //Video duraiton
            var position = x - progress.offset().left; //Click pos
            var percentage = 100 * position / progress.width();
            //Check within range
            if(percentage > 100) {
               percentage = 100;
            }
            if(percentage < 0) {
               percentage = 0;
            }
            //Update progress bar and video currenttime
            $("span b:eq(0)",main_div).css('width', percentage+'%');
            video[0].currentTime = maxduration * percentage / 100;
            if(percentage==100){
                $("a[name='pause'] img",main_div).attr("src","images/playb.png")
            }
         };
         $('u img',main_div).unbind().bind('click', function() {             //控制视频全屏与退出全屏
           //For Webkit
           video[0].webkitEnterFullscreen();

           //For Firefox
           video[0].mozRequestFullScreen();
           video[0].controls=false;
           return false;
        });
     }
    var initTimeLength = function(timeLength){             //根据秒数格式化时间
        timeLength = parseInt(timeLength);
        var second = timeLength%60;
        var minute = (timeLength-second)/60;
        return (minute<10?"0"+minute:minute)+":"+(second<10?"0"+second:second);
    }
    var initVideo = function(player){
            flag = true;
            var main_div = $("#wap_video_play_main_div");
        main_div.on("click","a[name='pause']",function(){    //暂停   继续
                var video = $("video",main_div);
                // video.css("top","0px")
                video.css("bottom","0")
                if(video[0].paused) {
                    video[0].play();
            $("img",$(this)).attr("src","images/playb.png")
                }else {
                     video[0].pause();
                     $("img",$(this)).attr("src","images/stopa.png")
                }
                return false;
            });
            $("video",main_div).on('loadedmetadata', function() {       //获取全部视频长度
                var video = $("video",main_div);
               $("i:eq(1)",main_div).html(initTimeLength(video[0].duration));
            });
            $("video",main_div).on('timeupdate', function() {           //实时更新播放进度条和时间
                var video = $("video",main_div);
                var currentPos = video[0].currentTime; //Get currenttime    //当前时间
                var maxduration = video[0].duration; //Get video duration   //总时间
                var percentage = 100 * currentPos / maxduration; //in %
                $("i:eq(0)",main_div).html(initTimeLength(video[0].currentTime));
                $("span b:eq(0)",main_div).css("width",percentage+"%")
                $("i:eq(1)",main_div).html(initTimeLength(video[0].duration));
                if(currentPos==maxduration){
                    $("a[name='pause'] img",main_div).attr("src","images/stopa.png")
                }
            });
            //$("video",main_div)[0].controls=false;
            //$("video",main_div).removeAttr("controls");
            //$("video",main_div).attr("controls",null);           //隐藏控制条
            var startBuffer = function() {                       //预加载视频的
                var video = $("video",main_div);
               var maxduration = video[0].duration;
               var currentBuffer = video[0].buffered.end(0);
               var percentage = 100 * currentBuffer / maxduration;
               $("span b:eq(2)").css('width', percentage+'%');

               if(currentBuffer < maxduration) {
                  setTimeout(startBuffer, 500);
               }
            };
//          setTimeout(startBuffer, 500);
            initProgressBar();
	}
    var setControl = function(){
        initVideo();
//      $("#wap_video_play_main_div video").removeAttr("controls");
//      $(".trump-control-bottom,.trump-control-bottom-flow").hide();
//      $("#trump_main_unique_1 div[data-resize-module='bottom']").closest("div").hide();
    }
    $(function(){
        var main_div = $("#wap_video_play_main_div");
        main_div.height($(window).height());
        // var height = ($(window).width()/16)*9;
        setControl()

    });
</script>
	<script>
	$('.item-video').on('click',function(){
		var hrefv=$(this).attr('data-href');
		var video='<div class="video_play_main_div" id="wap_video_play_main_div">'+
        '<div class="videobox">'+
            '<video autobuffer autoplay oncontextmenu="return false;" preload="none" x-webkit-airplay="true" webkit-ne="true"id="video_id_1464329192793" width="100%" style="z-index: 1; overflow: hidden; box-sizing: border-box;position: absolute; left: 0px;bottom:0">'+
                '<source src="'+hrefv+'" type="video/mp4">'+
            '</video>'+
            '<div class="the3ctv_video_control">'+
                '<a name="pause">'+
                    '<img src="/webIndex/images/playb.png"/>'+
                '</a>'+
                '<em><i name="time">00:00</i>&nbsp;|&nbsp;<i>01:21</i></em>'+
                '<span name="progress">'+
                    '<b></b><b></b><b></b>'+
                '</span>'+
                '<u><img alt="" src="/webIndex/images/allsc.png"/></u>'+
            '</div> '+
       '</div><span class="videobg">返回</span>'+
    '</div>';
    $('footer').before(video);
    
		$('.videobg').on('click',function(){

			$(this).parents('.video_play_main_div').remove()
		})
var flag = false;
     var initProgressBar = function(){        //进度条相关操作
         var main_div = $("#wap_video_play_main_div");
         var video = $("video",main_div);
         var timeDrag = false;   /* Drag status */
         $("span[name='progress']",main_div).mousedown(function(e) {     //进度条的按下操作
            timeDrag = true; 
            updatebar(e.pageX);
         });
         $(document).mouseup(function(e) {               //松开
            if(timeDrag) {
               timeDrag = false;
               updatebar(e.pageX);
            }
         });
         $(document).mousemove(function(e) {  //鼠标移动事件
            if(timeDrag) {
               updatebar(e.pageX);
            }
         });

         //update Progress Bar control
         var updatebar = function(x) {  //更新时间与播放条进度
            var progress = $("span[name='progress']",main_div);
            var maxduration = video[0].duration; //Video duraiton
            var position = x - progress.offset().left; //Click pos
            var percentage = 100 * position / progress.width();
            //Check within range
            if(percentage > 100) {
               percentage = 100;
            }
            if(percentage < 0) {
               percentage = 0;
            }
            //Update progress bar and video currenttime
            $("span b:eq(0)",main_div).css('width', percentage+'%');
            video[0].currentTime = maxduration * percentage / 100;
            if(percentage==100){
                $("a[name='pause'] img",main_div).attr("src","images/playb.png")
            }
         };
         $('u img',main_div).unbind().bind('click', function() {             //控制视频全屏与退出全屏
           //For Webkit
           video[0].webkitEnterFullscreen();

           //For Firefox
           video[0].mozRequestFullScreen();
           video[0].controls=false;
           return false;
        });
     }
    var initTimeLength = function(timeLength){             //根据秒数格式化时间
        timeLength = parseInt(timeLength);
        var second = timeLength%60;
        var minute = (timeLength-second)/60;
        return (minute<10?"0"+minute:minute)+":"+(second<10?"0"+second:second);
    }
    var initVideo = function(player){
            flag = true;
            var main_div = $("#wap_video_play_main_div");
        main_div.on("click","a[name='pause']",function(){    //暂停   继续
                var video = $("video",main_div);
                // video.css("top","0px")
                video.css("bottom","0")
                if(video[0].paused) {
                    video[0].play();
            $("img",$(this)).attr("src","images/playb.png")
                }else {
                     video[0].pause();
                     $("img",$(this)).attr("src","images/stopa.png")
                }
                return false;
            });
            $("video",main_div).on('loadedmetadata', function() {       //获取全部视频长度
                var video = $("video",main_div);
               $("i:eq(1)",main_div).html(initTimeLength(video[0].duration));
            });
            $("video",main_div).on('timeupdate', function() {           //实时更新播放进度条和时间
                var video = $("video",main_div);
                var currentPos = video[0].currentTime; //Get currenttime    //当前时间
                var maxduration = video[0].duration; //Get video duration   //总时间
                var percentage = 100 * currentPos / maxduration; //in %
                $("i:eq(0)",main_div).html(initTimeLength(video[0].currentTime));
                $("span b:eq(0)",main_div).css("width",percentage+"%")
                $("i:eq(1)",main_div).html(initTimeLength(video[0].duration));
                if(currentPos==maxduration){
                    $("a[name='pause'] img",main_div).attr("src","images/stopa.png")
                }
            });
            //$("video",main_div)[0].controls=false;
            //$("video",main_div).removeAttr("controls");
            //$("video",main_div).attr("controls",null);           //隐藏控制条
            var startBuffer = function() {                       //预加载视频的
                var video = $("video",main_div);
               var maxduration = video[0].duration;
               var currentBuffer = video[0].buffered.end(0);
               var percentage = 100 * currentBuffer / maxduration;
               $("span b:eq(2)").css('width', percentage+'%');

               if(currentBuffer < maxduration) {
                  setTimeout(startBuffer, 500);
               }
            };
//          setTimeout(startBuffer, 500);
            initProgressBar();
	}
    var setControl = function(){
        initVideo();
//      $("#wap_video_play_main_div video").removeAttr("controls");
//      $(".trump-control-bottom,.trump-control-bottom-flow").hide();
//      $("#trump_main_unique_1 div[data-resize-module='bottom']").closest("div").hide();
    }
    $(function(){
        var main_div = $("#wap_video_play_main_div");
        main_div.height($(window).height());
        // var height = ($(window).width()/16)*9;
        setControl()

    });
	})
	// $('.item-video').on('click',function(){
	// 	var hrefv=$(this).attr('data-href');
	// 	var video="<div class='videobg'><div class='videobox'><p>制作工具使用教程</p><video src="+hrefv+" controls='controls'>您的浏览器不支持 video 标签。</video></div><span>返回</span></div>"
	// 	$('footer').before(video);
	// 	$('.videobg span').on('click',function(){
	// 		$(this).parents('.videobg').remove()
	// 	})
	// })
		
	</script>

</html>