<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>重置密码</title>
  <meta name="description" content="重置密码">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="webIndex/css/amazeui.min.css" />
  <link rel="stylesheet" href="admin.css">
  <link rel="stylesheet" href="webIndex/css/login.css">
    <link rel="stylesheet" href="webIndex/css/resetPassWord.css">
  <link rel="stylesheet" href="webIndex/css/Hui.css">
  <link rel="stylesheet" href="webIndex/css/resetPassWord.css">
  <style>
      body{
      	background: #ffffff;
         font-family:'Microsoft YaHei';

      }
      .loginbutton{
      	border:1px solid #b2b0b0;
      	border-radius: 4px;
      	font-family:'Microsoft YaHei';

      }
      .regbutton{
      	border:1px solid #b2b0b0;
      	border-radius: 4px;
      	margin-top: 10px;
      	font-family:'Microsoft YaHei';
      }
      .mainfont{
      	font-size: 18px;
      	color:#666;
      	font-family:'Microsoft YaHei';
      }
      .mainfont1{
      	font-size: 18px;
      	color:#4bb7f5;
      	font-family:'Microsoft YaHei';
      }
      .myapp-login-logo-text{
      	font-family:'Microsoft YaHei';
      }
      .am-form{
      	width: 90%;
      	float:left;
      	margin-left: 5%
      }
      .msg{
      	 color:#f7152b;
      	 font-family:'Microsoft YaHei';
      	 font-size: 16px
      }
      .login-font{
          font-size:18px;
      }
  </style>
</head>

<body  style="background: #ffffff">

  <div class="am-g myapp-login">
	<div class="myapp-login-logo-block  tpl-login-max">
		<div class="myapp-login-logo-text">
			<div class="myapp-login-logo-text" onclick="openindex()">
				点映秀
			</div>
		</div>
		<div class="login-font">
			重置密码
		</div>

		<div class="am-u-sm-10 login-am-center">
			<form class="am-form" >
				<fieldset style="border:none;">
					<div class="H-flexbox-horizontal  H-border-vertical-bottom-margin-both-10-after loginbutton" id="mainuser">
                        <span class="H-icon H-vertical-middle H-padding-horizontal-left-10">
                            <i class="H-iconfont H-font-size-18 H-vertical-middle H-theme-font-color-999"></i>
                        </span>
                        <input type="text" class="H-textbox H-vertical-align-middle H-vertical-middle H-font-size-16 H-flex-item H-box-sizing-border-box H-border-none H-outline-none H-theme-background-color-transparent" placeholder="+86" onfocus="changecolor()"  onblur="setdefault()">
                    </div>
                    <br />

                    <div class="img-verify" id="mai">
                        <h3>请点击下图中的冰淇淋<span>刷新</span></h3>
                        <ul>
                            <li><img src="webIndex/images/yz-01.png" alt=""></li>
                            <li><img src="webIndex/images/yz-02.png" alt=""></li>
                            <li><img src="webIndex/images/yz-01.png" alt=""></li>
                            <li><img src="webIndex/images/yz-02.png" alt=""></li>
                        </ul>
                    </div>

                   <div class="msg"  id="msg">
                       <p>
                           <button type="button"  class="am-btn am-btn-default" onclick="checkuser()">获取短信验证码</button>
                       </p>
                        <p><button type="button" class="am-btn am-btn-wx">使用其他账号登录</button></p>
                        <center>
                            <span class="mainfont">还没有账号？</span><span onclick="openreg()" class="mainfont1">注册新账号</span>
                        </center>
                   </div>
			    </fieldset>
			</form>
		</div>
	</div>
</div> 

  <script src="webIndex/js/jquery.min.js"></script>
  <script src="webIndex/js/amazeui.min.js"></script>
  <script src="webIndex/js/app.js"></script>
  <script src="webIndex/js/H.js"></script>
</body>
<script>
     function changecolor(){
     	 document.getElementById("mainuser").style.border='1px solid #ea5147'
     }
      function setdefault(){
     	 document.getElementById("mainuser").style.border='1px solid #b2b0b0'
     	 checkuser()
     }
     function changecolor1(){
     	 document.getElementById("mainpass").style.border='1px solid #ea5147'
     }
      function setdefault1(){
     	 document.getElementById("mainpass").style.border='1px solid #b2b0b0'
     	 checkuser()
     }
     function openindex(){
     	window.location='../index.html'
     }
     function openmyform(){
      window.location='login.html'
     }
      function checkuser(){
           var  username=document.getElementById("username").value
            // var  password=document.getElementById("password").value
            if (username.length==0){
                H.D('#msg').innerHTML='注册用户名不能为空！'
              return false
            }
            //用户名称不能为空 
            else {
              //手机还是邮箱

                if(username.indexOf('@')==-1){
                //手机
            if (username.length!=11) 
             { 
                 H.D('#msg').innerHTML='您的输入不是11位的手机号！'
                 return false; 
             } 
             if(isNaN(username)){
                       H.D('#msg').innerHTML='您的手机号是非法的，请检查！'
                 return false; 
             }
             }
                   else{
                      //邮箱
                        var myreg = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
                  if(!myreg.test(username)){
                  H.D('#msg').innerHTML='请输入合法的邮箱！'
                   return (false);
              
              } 

             }

            }
            // if (password.length==0){
            //     H.D('#msg').innerHTML='密码不能为空！'
            //     return false
            // } 

      }
     function openreg(){
         window.location='reg.html'
     }


</script>
</html>