body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u21680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u21681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21681 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:48px;
}
#u21682 {
  position:absolute;
  left:2px;
  top:16px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u21683 {
  position:absolute;
  left:81px;
  top:14px;
  width:55px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u21684 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u21685_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:91px;
  height:54px;
}
#u21685 {
  position:absolute;
  left:20px;
  top:7px;
  width:51px;
  height:33px;
  font-size:12px;
}
#u21686 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u21687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u21687 {
  position:absolute;
  left:157px;
  top:14px;
  width:1px;
  height:19px;
}
#u21688 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21689 {
  position:absolute;
  left:181px;
  top:10px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u21690 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u21691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1357px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21691 {
  position:absolute;
  left:0px;
  top:44px;
  width:1440px;
  height:1357px;
}
#u21692 {
  position:absolute;
  left:2px;
  top:670px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:492px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u21693 {
  position:absolute;
  left:119px;
  top:116px;
  width:1200px;
  height:492px;
  font-size:18px;
}
#u21694 {
  position:absolute;
  left:2px;
  top:238px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:55px;
}
#u21695 {
  position:absolute;
  left:119px;
  top:62px;
  width:1200px;
  height:55px;
}
#u21696 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u21697 {
  position:absolute;
  left:150px;
  top:81px;
  width:165px;
  height:19px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u21698 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  word-wrap:break-word;
}
#u21699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u21699 {
  position:absolute;
  left:669px;
  top:342px;
  width:114px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u21700 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u21701_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:146px;
  height:107px;
}
#u21701 {
  position:absolute;
  left:666px;
  top:226px;
  width:106px;
  height:86px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u21702 {
  position:absolute;
  left:2px;
  top:34px;
  width:102px;
  word-wrap:break-word;
}
