body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1449px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u9652 {
  position:absolute;
  left:9px;
  top:0px;
  width:1440px;
  height:1024px;
  font-size:14px;
}
#u9653 {
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u9654 {
  position:absolute;
  left:672px;
  top:111px;
  width:97px;
  height:38px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u9655 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#797979;
}
#u9656 {
  position:absolute;
  left:683px;
  top:189px;
  width:73px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#797979;
}
#u9657 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9658 {
  position:absolute;
  left:550px;
  top:226px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u9659 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u9661 {
  position:absolute;
  left:593px;
  top:367px;
  width:253px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u9662 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u9663 {
  position:absolute;
  left:550px;
  top:302px;
}
#u9663_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9663_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9664 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9665 {
  position:absolute;
  left:2px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u9666 {
  position:absolute;
  left:557px;
  top:228px;
  width:330px;
  height:40px;
}
#u9666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u9668 {
  position:absolute;
  left:621px;
  top:390px;
  width:183px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u9669 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u9670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9670 {
  position:absolute;
  left:24px;
  top:1034px;
  width:457px;
  height:24px;
}
#u9671 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9672 {
  position:absolute;
  left:84px;
  top:1062px;
  width:457px;
  height:19px;
  font-size:16px;
}
#u9673 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9674 {
  position:absolute;
  left:84px;
  top:1091px;
  width:457px;
  height:19px;
  font-size:16px;
}
#u9675 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9676 {
  position:absolute;
  left:24px;
  top:1123px;
  width:506px;
  height:24px;
  font-size:20px;
}
#u9677 {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u9678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:57px;
}
#u9678 {
  position:absolute;
  left:127px;
  top:1123px;
  width:327px;
  height:57px;
  font-size:16px;
}
#u9679 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u9680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9680 {
  position:absolute;
  left:24px;
  top:1184px;
  width:457px;
  height:24px;
  font-size:20px;
}
#u9681 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9682 {
  position:absolute;
  left:84px;
  top:1188px;
  width:457px;
  height:19px;
  font-size:16px;
}
#u9683 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9684 {
  position:absolute;
  left:24px;
  top:1215px;
  width:457px;
  height:24px;
  font-size:20px;
}
#u9685 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9686 {
  position:absolute;
  left:84px;
  top:1220px;
  width:457px;
  height:19px;
  font-size:16px;
}
#u9687 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9688 {
  position:absolute;
  left:24px;
  top:1251px;
  width:457px;
  height:43px;
}
#u9689 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
}
#u9690 {
  position:absolute;
  left:557px;
  top:278px;
  width:457px;
  height:16px;
  font-size:14px;
  color:#FF0000;
}
#u9691 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
