<%- include ../include/header.html%>
<%- include ../include/left.html%>
<!-- 前端板块管理 -->
<style>
    td, th {
        width: 20%;
        text-align: center;
    }
</style>
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">板块管理</div>
                        <div class="widget-function am-fr">
                            <a href="javascript:;" class="am-icon-cog"></a>
                        </div>
                    </div>
                    <div class="widget-body  widget-body-lg am-fr">

                        <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black " id="example-r">
                            <thead>
                            <tr>
                                <th>操作人员</th>
                                <th>导航名称</th>
                                <th>操作时间</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="gradeX">
                                <td>系统管理员-郭振兴</td>
                                <td>产品服务  </td>
                                <td>2016-12-31  </td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;" @click="openmyform">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>系统管理员-郭振兴</td>
                                <td>产品服务  </td>
                                <td>2016-12-31  </td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;" @click="openmyform">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>系统管理员-郭振兴</td>
                                <td>产品服务  </td>
                                <td>2016-12-31  </td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;" @click="openmyform">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>系统管理员-郭振兴</td>
                                <td>产品服务  </td>
                                <td>2016-12-31  </td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;" @click="openmyform">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr class="gradeX">
                                <td>系统管理员-郭振兴</td>
                                <td>产品服务  </td>
                                <td>2016-12-31  </td>
                                <td>
                                    <div class="tpl-table-black-operation">
                                        <a href="javascript:;" @click="openmyform">
                                            <i class="am-icon-pencil"></i> 编辑
                                        </a>
                                        <a href="javascript:;" class="tpl-table-black-operation-del">
                                            <i class="am-icon-trash"></i> 删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            </tr>
                            <!-- more data -->
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../include/footer.html%>