<%- include ../include/header.html%>
<%- include ../include/left.html%>
<script>
    function closewindow() {
        document.getElementById("settingscontent").style.visibility = 'hidden';
        window.location.href = '/backstage/photoGallery?pageNum=1';
    }
</script>
<div class="row"  id="settingscontent" style="background: #ffffff;width: 768px;margin-left: 300px">
    <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
        <div class="widget am-cf">
            <div class="widget-head am-cf">
                <div class="widget-title am-fl">商业图片库维护</div>
                <div class="widget-function am-fr">
                    <a  onclick="closewindow()">关闭</a>
                </div>
            </div>
            <div class="widget-body am-fr">
                <form class="am-form tpl-form-line-form" method="post" enctype="multipart/form-data" action="/backstage/photoGallery/add">
                    <input type="hidden" name="id" value="<%= photo.id%>">
                    <div class="am-form-group">
                        <label for="user-name" class="am-u-sm-3 am-form-label">图片名称 </label>
                        <div class="am-u-sm-9">
                            <input type="text" class="tpl-form-input" id="user-name" placeholder="您的图片名称" name="photoName" value="<%= photo.photoName%>">
                            <small>20个汉字以内</small>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-intro" class="am-u-sm-3 am-form-label">是否收费</label>
                        <div class="am-u-sm-9">
                            <div class="tpl-switch">
                                <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" checked="" name="charge">
                                <div class="tpl-switch-btn-view">
                                    <div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-intro" class="am-u-sm-3 am-form-label">是否审核通过</label>
                        <div class="am-u-sm-9">
                            <div class="tpl-switch">
                                <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn" checked="" name="nature">
                                <div class="tpl-switch-btn-view">
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="user-email" class="am-u-sm-3 am-form-label">发布人 </label>
                        <div class="am-u-sm-9">
                            <input type="text" class="am-form-field tpl-form-no-bg" value="万华" readonly="" name="publisher">

                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-phone" class="am-u-sm-3 am-form-label">金额<!-- <span class="tpl-form-line-small-title">您的城市</span>--></label>
                        <div class="am-u-sm-9">
                            <input type="text" class="am-form-field tpl-form-no-bg" name="money" value="<%= photo.money%>">秀豆

                        </div>
                    </div>

                    <div class="am-form-group" >
                        <label for="user-weibo" class="am-u-sm-3 am-form-label">图片 <span class="tpl-form-line-small-title">Images</span></label>
                        <div class="am-u-sm-9">
                            <div class="am-form-group am-form-file">
                                <div class="tpl-form-file-img">
                                    <%if(photo.id) {%>
                                    <img src="<%= photo.photo%>" alt="请添加图片" style="width: 100px;height: 100px">
                                    <%}else {%>
                                    <img src="/backstage-assets/img/a5.png" alt="请添加图片" style="width: 100px;height: 100px">
                                    <%}%>
                                </div>
                                <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                    <i class="am-icon-cloud-upload"></i> 添加您的商业图片库</button>
                                <input id="doc-form-file" type="file" multiple="" name="photo">
                            </div>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="user-intro" class="am-u-sm-3 am-form-label"></label>
                        <div class="am-u-sm-9">
                            <textarea class="" rows="10" id="user-intro"  name="text">

                            </textarea>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <div class="am-u-sm-9 am-u-sm-push-3" onclick="closewindow()">
                            <%if(photo.id) {%>
                                <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">修改</button>&nbsp;
                                <button type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success " onclick="closewindow()">关闭</button>
                            <%}else {%>
                                <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success ">确认</button>
                            <%}%>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include ../include/footer.html%>