object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Microsoft YaHei";
}
li{
	list-style: none
}
button{
	outline: none;
}
.clear{
	clear:both;
}

/*地址导航*/
.address{
	position: relative;
	line-height: 32px;
	margin-top:28px;
}
/*全部秀*/
.address .h-allshow .am-btn {
    padding: 0;
    margin: 0;
    background: none;
    font-size: 16px;
    color: #0f0f0f;
    line-height: 32px;
}
.address .h-allshow span {
    display: inline-block;
    width: 7px;
    height: 12px;
    background: url(../img/allicon.png) no-repeat;
    margin-left: 16px;
}
.address .am-dropdown-flip .am-dropdown-content {
    left: 0;
    right: auto;
}
/*最后修改页面*/
.lastshow a {
    margin-left: 35px;
    font-size: 16px;
    color: #888a92;
}
.lastshow span {
    display: block;
    width: 12px;
    height: 14px;
    background: url(../img/lasticon.png) no-repeat;
    margin-left: 7px;
    float: right;
    margin-top: 10px;
}
/*查找全部秀*/
.addresslist{
	float: left;
	margin-left: 5px;
}
.findshow {
    width: 209px;
    height: 32px;
    margin-left: 60px;
}
.find-all-show {
	background: none;
	padding:0 8px;
	font-size: 14px;
	color: #0f0f0f;
	border:none;
}
.find-all-show i {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/search.png) no-repeat;
    margin-right: 7px;
}
.find-all-show span {
    color: #cfcfcf;
}
.find-show-sm {
    height: 32px;
    margin-top: 10px;
    border: 1px solid #aeaeae;
    border-radius: 4px;
}
.find-show-sm input{
	border:none;
	background: none;
}
/*开始制作按钮*/
.addbtn {
    color: #fff;
    background: #ea5147;
    border-radius: 4px;
    font-size: 16px;
    min-width:126px;
    height: 32px;
    margin:10px;
    padding: 0 18px;
    float: left;
    cursor: pointer;
}
.addbtn span {
    margin-left:7px;
}

/*展示列表*/
.addshow{
	margin-top: 67px;
}

.pagelist li {
    list-style: none;
    width: 20%;
    height:25%;
    float: left;
    box-shadow: 0 0 15px 0 #eee;
    margin-right:6.3%;
    padding: 2.5%;
    background: #fdfdfd;
    position: relative;
    margin-bottom: 45px;
}
.pagelist li:nth-of-type(4n ) {
margin-right:0;
}
.pagelist .gallery-imgitem img{
	width: 100%;
}
.pagelist .gallery-item h3 {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #111111;
    font-size:1.6rem;
}
.pagelist .gallery-item p {
    font-size: 12px;
    color: #111;
    margin-top: 0px;
}
/*遮罩*/
.shade-item {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    position: absolute;
    left: 0;
    top: 0;
    padding: 12%;
     display: none; 
    z-index: 2;
}
.gallery-item:hover .shade-item{
	display: block;
}
/*遮罩预览*/
.edit{
	margin-top:18% 
}
.preview {
    width: 51.4%;
    height: 12.8%;
    border-radius: 14px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin: 15px auto;
    font-size: 1.8rem;
}
.preview:hover {
    background: #ea5147;
    border: 1px solid transparent;
}
/*遮罩底部*/
.shade-set {
    position: absolute;
    left: 12%;
    bottom: 12%;
    width: 78%;
}
.shade-set .shade-set-item {
    margin-right: 15.7%;

}
.shade-set .shade-set-item img{
    width:9%;
    height: 9%;
}
.shade-set .am-dropdown {
	width:9%;
    height:9%;
}
.shade-set .am-dropdown img{
	width: 100%;
	height: 100%
}

.shade-set .del {
    width: 65px;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    background: #fff;
    color: #101010;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 40px;
    min-width: 65px;
}
.am-dropdown-content.del:before, .am-dropdown-content.del:after{
	left:30px;
}


/*分页*/
.am-dropdown-up .am-dropdown-content:before, .am-dropdown-up .am-dropdown-content:after{
	border:0;
}
.am-pagination.h-show-page .am-pagination-prev{
	float: auto
}
.h-show-page{
	margin-bottom: 160px;
	line-height: 24px;
}
.h-pagebtn-go{
	margin-left: 20px;
	margin-right: 10px
}
.h-show-page>.h-pagebtn-go>input,.h-show-page>.h-pagebtn-show>button{
	background: #ea5147;
	color:#fff;
	font-size: 12px;
	width: 70px;
	height: 24px;
	border-radius: 15px;
	margin-right: 10px;
	border:none;

}
.h-show-page>.h-pagebtn-go>input,.h-show-page>.h-pagebtn-go>input:focus,.h-show-page>.h-pagebtn-show>button:focus{
	width: 70px;
	background: #ea5147;
	border:none;
	text-align: center;
	outline:none;
}
.h-show-page>.h-pagelist-last{
/*	line-height:12px;*/
}
.h-show-page>.h-pagelist-last>a{
	width: 24px;
	height: 24px;
	background: #ea5147;
	border-radius: 24px;
	color: #fff;
	line-height: 0;
}
.h-show-page>.h-pagelist>a{
	background: #ea5147;
	color:#fff;
	font-size: 12px;
	width: 24px;
	height: 24px;
	margin:3px;
	line-height: 23px;
	border-radius: 24px;
}

.h-show-page>.h-pagelist{
width: 34px;
height: 34px;
text-align: center;
border: 2px solid transparent;
}
.h-show-page>.h-pagelist.am-active,.h-show-page>.h-pagelist:hover{

border: 2px solid #ea5147;
border-radius: 34px;


}
.h-show-page>.h-pagego{
	width: 34px;
	height:34px;
}
.h-show-page>.h-pagego>a{
	width: 24px;
	height: 24px;
	line-height: 24px;
}


@media only screen and (min-width:1221px){
	.am-container-main{
		width: 1220px;
		margin:0 auto;
	}
	
}




@media only screen and (min-width: 641px){
	/*开始制作*/
	.addbtn {
		width:126px;
		height: 32px;
		float: right; 
		margin-top: 12px;
	}
	
}
/*首页第一页*/
.firstcimg{
    width: 374px;
    height: 310px;
    margin:0 auto;
    margin-top: 164px;
    display: block;
}
.none-case{
    font-size: 32px;
    color: #ea5147;
    text-align: center;
    margin-top: 46px;
}
.begin-case{
    font-size: 24px;
    text-align: center;
    margin-top: 54px;
}
.begin-case a{
    
    color:#3d3c3c
}
.content-btn{
    width: 228px;
    height: 68px;
    margin:0 auto;
    background: #ea5147;
    margin-top: 62px;
    margin-bottom: 70px;
    color: #fff;
    text-align: center;
    line-height: 68px;
    font-size: 24px;
}
