.transaction-record{
	position: relative;
	background-color: #FFFFFF;
	height: 664px;
	margin-bottom: 35px;
}
.tr-mun{
	height: 20px;
	margin: 40px 0 0 40px;
}
.tr-mun li.cur-a{
	color: #ea5147;
}
.tr-mun li{
	float: left;
	color: #666666;
	font-size: 14px;
	cursor: pointer;
}

.tr-mun li span{
	color: #666666;
	margin:0 20px 0 20px;
}

.tr-info-list{
	position: relative;
	width:860px ;
	height: auto;
	margin: 20px 0 0 40px;
}

.tr-info-list table{
	width: 100%;

}
.tr-info-list table tr>th{
	height: 50px;
	color: #333333;
	font-size: 14px;
	background: #dfdfdf;
	text-align: center;
}
.tr-info-list table tr>td{
	width: 235px;
	height: 40px;
	color: #666666;
	font-size: 14px;
	border-bottom: 1px solid #dbdbdb;
	text-align: center;
}
.tr-info-list table tr td.t-cur{
	color: #ea5147;
}
.no-data{
	width: 51px;
	height: 61px;
	margin:90px auto;
}
.no-data span{
	font-size: 12px;
	color: #666666;
	text-align: center;
}