body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u35134 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u35135 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
}
#u35136 {
  position:absolute;
  left:294px;
  top:190px;
  width:36px;
  height:20px;
}
#u35137 {
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:20px;
}
#u35138 {
  position:absolute;
  left:390px;
  top:190px;
  width:166px;
  height:20px;
}
#u35139 {
  position:absolute;
  left:2px;
  top:2px;
  width:162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#182554;
}
#u35140 {
  position:absolute;
  left:390px;
  top:192px;
  width:144px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#182554;
}
#u35141 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u35142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#182554;
}
#u35142 {
  position:absolute;
  left:298px;
  top:189px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#182554;
}
#u35143 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
