<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        dd,dt {
            float:left;
            margin:0;
            padding:5px;
            clear:both;
            display:block;
            width:100%;
        }
        dt {
            background:#ddd;
        }
        time {
            color:gray;
        }
    </style>
</head>
<body>
<time></time>
<div id="container">Loading ...</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/jquery.js"></script>

<script>
    var socket = io.connect('http://localhost:3000');
    //** // 创建websocket连接
     socket.on('allMessage', function (data) {

         var articlesList = "<dl>";
         $.each(data.message,function(index,article){
             articlesList += "<dt>" + article.message + "</dt>\n" +
             "</dd>";
         });
         articlesList += "</dl>";
         $('#container').html(articlesList);

         $('time').html(data.time);
     });
</script>
</body>
</html>