<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- <meta name="viewport"
		  content="width=device-width, initial-scale=1"> -->
	<title>充值</title>

	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="icon" type="image/png" href="assets/i/favicon.png">
	<link rel="stylesheet" href="assets/css/amazeui.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<link rel="stylesheet" href="assets/css/header.css">
	<link rel="stylesheet" href="assets/css/baces.css">
	<link rel="stylesheet" href="assets/css/my-wallet-recharge.css">
	<script src="assets/js/jquery-1.12.0.js"></script>
	<script src="assets/js/personal-center-header.js"></script>

</head>
<body>
<header class="am-topbar am-h-header">
	<h1 class="am-topbar-brand am-tops">
		<a class="" href="#"><img src="assets/img/logo.png" alt="" width=''>
			<span>点映秀</span>

		</a>
		<img class="gh" src="assets/img/gh_03.png" alt="gh">
		<span>充值</span>

	</h1>
	<div class="am-topbar-right top-img">
		<div class='selfpic'>
			<img class="am-circle" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" width="36" height="36"/>
		</div>
	</div>

	<div class="am-topbar-right top-img messList">
		<div class="notice">
			<span class="am-badge am-badge-red am-round am-notice">6</span>
		</div>
	</div>
</header>
<div class="contents">
	<div class="am-conin-recharge">
		<div class="am-conright-recharge">
			<div class="recharge-top">
				<a class="rt-r" href="#">充值</a><span>》</span><a class="rt-g" href="#">返回</a>
			</div>
			<div class="recharge-middle">
				<p class="rm-ac">充值账号:<span>18000025869</span></p>
				<p class="rm-ba">账号余额:<span>0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;秀币</p>
			</div>
			<div class="recharge-bottom">
				<p class="rb-nb">充值数量<a>（1人民币可充值1秀豆）</a></p>
				<ul class="tb-recharge">
					<li><a>10秀币</a><span>¥10</span></li>
					<li class="curr"><a>10秀币</a><span>¥10</span></li>
					<li><a>10秀币</a><span>¥10</span></li>
					<li><a>10秀币</a><span>¥10</span></li>
					<li><a>10秀币</a><span>¥10</span></li>
					<li><a>10秀币</a><span>¥10</span></li>
					<li><a>10秀币</a><span>¥10</span></li>
					<li><a>10秀币</a><span>¥10</span></li>
				</ul>
				<div class="pay-method">
					<span>支付方式</span>
					<a class="zfb-pay-btn" href="#">
						<img src="assets/img/zfb.png" alt="zfb">
						&nbsp;&nbsp;支付宝
						<i class="c-l"></i>
					</a>
					<a class="wx-pay-btn" href="#">
						<img src="assets/img/wx.png" alt="wx">
						&nbsp;&nbsp;&nbsp;&nbsp;微信
						<i class="c-l"></i>
					</a>

				</div>
				<div class="confirm-pay">
					<p>需支付 &nbsp;&nbsp;&nbsp;&nbsp;
						<span>50.00元</span>
						<a>确认支付</a>
					</p>


				</div>
			</div>

		</div>
		<div class="clear"></div>
	</div>
</div>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/index.js"></script>
<script>
    $(function (){
        $('.messList').click(function (){
            window.location.href = '/website/show/myMessage?pageNum=1';
        });
    });
</script>

</body>
</html>