<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- <meta name="viewport"
		  content="width=device-width, initial-scale=1"> -->
	<title>提现</title>

	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="icon" type="image/png" href="webAssets/i/favicon.png">
	<link rel="stylesheet" href="webAssets/css/amazeui.css">
	<link rel="stylesheet" href="webAssets/css/app.css">
	<link rel="stylesheet" href="webAssets/css/header.css">
	<link rel="stylesheet" href="webAssets/css/baces.css">
	<link rel="stylesheet" href="webAssets/css/my-wallet-recharge.css">
	<script src="webAssets/js/jquery-1.12.0.js"></script>
	<script src="webAssets/js/personal-center-header.js"></script>

</head>
<body>
<header class="am-topbar am-h-header">
	<h1 class="am-topbar-brand am-tops">
		<a class="" href="#"><img src="webAssets/img/logo.png" alt="" width=''>
			<span>点映秀</span>
		</a>
		<img class="gh" src="webAssets/img/gh_03.png" alt="gh">
		<span>提现</span>

	</h1>
	<div class="am-topbar-right top-img">
		<div class='selfpic'>
			<img class="am-circle" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" width="36" height="36"/>
		</div>
	</div>

	<div class="am-topbar-right top-img">
		<div class="notice">
			<span class="am-badge am-badge-red am-round am-notice">6</span>
		</div>
	</div>
</header>
<div class="contents">
	<div class="am-conin-recharge">
		<div class="am-conright-recharge">
			<div class="recharge-top">
				<a class="rt-r" href="#">提现申请</a>
				<span>》</span>
				<a class="rt-g" href="#">返回</a>
				<a class="lk-w" href="#">查看提现记录</a>
			</div>
			<div class="present-application">
				<p class="p-img"><img src="webAssets/img/trueSubmit.png" alt="ok"></p>
				<p class="p-pa">提现申请已提交，请等待审核！</p>
				<p class="p-pal">本月提现申请将于次月15日前打款，节假日顺延，实际到账时间以银行为准。</p>
			</div>

		</div>


		<div class="clear"></div>
	</div>
</div>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="webAssets/js/jquery.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="webAssets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="webAssets/js/amazeui.min.js"></script>
<script src="webAssets/js/index.js"></script>


</body>
</html>