<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- <meta name="viewport"
		  content="width=device-width, initial-scale=1"> -->
	<title>提现</title>

	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="icon" type="image/png" href="assets/i/favicon.png">
	<link rel="stylesheet" href="assets/css/amazeui.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<link rel="stylesheet" href="assets/css/header.css">
	<link rel="stylesheet" href="assets/css/baces.css">
	<link rel="stylesheet" href="assets/css/my-wallet-recharge.css">
	<script src="assets/js/jquery-1.12.0.js"></script>
	<script src="assets/js/personal-center-header.js"></script>

</head>
<body>
<header class="am-topbar am-h-header">
	<h1 class="am-topbar-brand am-tops">
		<a class="" href="#"><img src="assets/img/logo.png" alt="" width=''>
			<span>点映秀</span>
		</a>
		<img class="gh" src="assets/img/gh_03.png" alt="gh">
		<span>提现</span>

	</h1>
	<div class="am-topbar-right top-img">
		<div class='selfpic'>
			<img class="am-circle" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" width="36" height="36"/>
		</div>
	</div>

	<div class="am-topbar-right top-img messList">
		<div class="notice">
			<span class="am-badge am-badge-red am-round am-notice">6</span>
		</div>
	</div>
</header>
<div class="contents">
	<div class="am-conin-recharge">
		<div class="am-conright-recharge">
			<div class="recharge-top">
				<a class="rt-r" href="#">提现申请</a>
				<span>》</span>
				<a class="rt-g" href="#">返回</a>
				<a class="lk-w" href="#">查看提现记录</a>
			</div>
			<div class="withdrawals-apply">
				<ul>
					<li>
						账户余额:
						<span class="account-balance">0</span>元&nbsp;&nbsp;(等价于<span>0</span>秀币)
					</li>
					<li>
						选择提取渠道:
						<a class="add-bank" href="#">+新增银行卡</a>
						<input class="bankcord-info" type="text" placeholder="" value="&nbsp;招商银行                                    尾号9038">
						<a class="replace-bankcord" href="#">替换银行卡</a>
					</li>
					<li>
						提现金额:
						<input class="input-amount" type="text" placeholder="&nbsp;输入金额">&nbsp;&nbsp;元
					</li>
					<li>
						实际到账金额:
						<span class="actual">---</span>元
						<span class="prompt-fee">提现手续费：2.00元（单笔提现将收取2%的服务费）</span>
					</li>
					<li>
						<a class="btn-submit" href="#">提交申请</a>
					</li>
				</ul>
				<div class="prompt">
					<p>	温馨提示：</p>
					<p>1. 本月的提现申请将于次月15号前打款，节假日顺延，实际到账时间以银行为准。</p>
					<p>2. 每笔提现金额最低为100元</p>
					<p>3. 单笔提现将收取2%的服务费，单笔提现最低手续费额度为2元，费用将从提现资金中扣除。</p>
				</div>
			</div>

		</div>
		<!--add back card-->
		<div class="add-bank-card">
			<div class="adc-top">
				<h3>添加银行卡</h3>
				<a class="adc-close" href="#">
					<img src="assets/img/closess_03.png" title="" alt="">
				</a>
			</div>
			<div class="abc-info">
				<ul>
					<li>
						可提现方式:
						<span class="bankcord-account">银行卡账户</span>
						<p>
							1、请仔细填写账户信息，如由于您填写信息有误导致资金损失，点映秀无责。
						</p>
						<p >
							2、只支持提现到银行借记卡，不支持信用卡或存折，提现审核周期为5-7个工作日。
						</p>
					</li>
					<li>
						*&nbsp;银行卡号:
						<input class="bank-cord" type="text" placeholder="&nbsp;请输入卡号（支持借记卡，不支持信用卡或存折）">
					</li>
					<li>
						*&nbsp;持卡人:
						<input class="cord-person" type="text" placeholder="&nbsp;持卡人姓名">
					</li>
					<li>
						*&nbsp;身份证:
						<input class="id" type="text" placeholder="&nbsp;持卡人身份证">
					</li>
					<li>
						*&nbsp;手机号:
						<input class="phone-number" type="text" placeholder="&nbsp;手机号">
						<a class="vc" href="#">获取验证码</a>
					</li>
					<li>
						*&nbsp;验证码:
						<input class="verification-code" type="text" placeholder="&nbsp;验证码">
					</li>
					<li>
						<a class="btn-submit-bank" href="#">提交申请</a>
						<input class="a-c" type="checkbox">
						<a class="blue-checkbox" href="#"><img src="assets/img/Agree.png" alt="同意"></a>
						<span class="agree-info">同意《银联用户服务协议》</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="clear"></div>
	</div>
</div>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/index.js"></script>
<script>
    $(function (){
        $('.messList').click(function (){
            window.location.href = '/website/show/myMessage?pageNum=1';
        });
    });
</script>

</body>
</html>