<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<!-- <meta name="viewport"
		  content="width=device-width, initial-scale=1"> -->
	<title>个人中心</title>

	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="icon" type="image/png" href="webAssets/i/favicon.png">
	<link rel="stylesheet" href="webAssets/css/amazeui.css">
	<link rel="stylesheet" href="webAssets/css/app.css">
	<link rel="stylesheet" href="webAssets/css/header.css">
	<link rel="stylesheet" href="webAssets/css/baces.css">
	<link rel="stylesheet" href="webAssets/css/personal-center-header.css">
	<script src="webAssets/js/jquery-1.12.0.js"></script>
	<script src="webAssets/js/personal-center-header.js"></script>


</head>
<body>

<header class="am-topbar am-h-header">
	<h1 class="am-topbar-brand">
		<a href="#"><img src="webAssets/img/logo.png" alt="" width=''><span>点映秀</span></a>
	</h1>
	<div class="am-topbar-right top-img">
		<div class='selfpic'>
			<img class="am-circle" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" width="36" height="36"/>
		</div>
	</div>

	<div class="am-topbar-right top-img">
		<div class="notice">
			<span class="am-badge am-badge-red am-round am-notice">6</span>
		</div>
	</div>
	<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

	<div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
		<ul class="am-nav am-nav-pills am-topbar-nav topnav">
			<li class="am-active">
				<a href="#">
					<span class='homesi'></span>
					首页
				</a>
			</li>
			<li>
				<a href="#">
					<span class='search'></span>
					<!-- <img src="webAssets/img/searchshow.png" alt="" class='modelicon'>
					<img src="webAssets/img/searchshowa.png" alt="" class='activeicon'> -->
					找秀场
				</a>
			</li>
			<li>
				<a href="#">
					<span class='viewshow'></span>
					<!-- <img src="webAssets/img/viewshow.png" alt="" class='modelicon'>
					<img src="webAssets/img/viewshowa.png" alt="" class='activeicon'> -->
					映秀场
				</a>
			</li>
			<li>
				<a href="#">
					<span class='grades'></span>
					<!-- <img src="webAssets/img/grades.png" alt="" class='modelicon'>
					<img src="webAssets/img/grades.png" alt="" class='activeicon'> -->
					映秀社区
				</a>
			</li>
		</ul>
	</div>
</header>

<div class="contents">
	<div class="am-conin-h">
		<div class="am-conleft-h">
      <div class="conleft-img">
        <div class="conleft-imgin">
          <img src="webAssets/img/selfimg.png" alt="">
        </div>
        <p>kist</p>
      </div>
      <div class="conleft-item">
        <ul>
          <li class='conleft-list conleft-list-active'>
            <a href="personal-center-header.html"><span class='baceicon'></span>基本信息</a>
          </li>
          <li class='conleft-list'><a href="myNews.html"><span class='mesicon'></span>我的消息</a></li>
          <li class='conleft-list'><a href="my-wallet-voucher.html"><span class='moneyicon'></span>我的钱包</a></li>
          <li class='conleft-list'><a href=""><span class='extendicon'></span>秀场推广</a></li>
          <li class='conleft-list'><a href=""><span class='membericon'></span>会员中心</a></li>
          <li class='conleft-list'><a href="my-goods.html"><span class='ordericon'></span>我的订单</a></li>
          <li class='conleft-list'><a href="my-collect.html"><span class='collecticon'></span>我的收藏</a></li>
          <li class='conleft-list'><a href="Accountset.html"><span class='aseticon'></span>账户设置</a></li>
        </ul>
      </div>
      <div class="stardirect">
        <div class="directbtn">
           开始直播秀
        </div>
       
      </div>
    </div>
		<!--头像-->
		<div class="am-conright-h">

			<div class="am-main-personal">
				<h3>个人信息</h3>
				<hr>
				<img src="webAssets/img/redline_03.png" title="redline" alt="redline">

				<ul class="personal-info">
					<li class="personal-head">
						<span>头像:</span>
						<a class="am-head-portrait" href="#"><img src="webAssets/img/headersss.png" title="头像" alt="头像"></a>
						<a href="#" class="am-btn-botton">修改头像</a>
						<p>建议上传200x200像素的图片，格式为jpg,png,gif,文件不超过1MB</p>
					</li>
					<li class="personal-account">
						<span>账号:</span>
						<p>18234086972</p>
					</li>
					<li class="personal-name">

						<span>名称:</span>
						<input  class="showInput" type="text" value="陈晓晓" >
						<p class="eName">陈晓晓</p>
						<i class="editName" ><img src="webAssets/img/rep_03.png" alt=""></i>
					</li>
					<li class="personal-save">
						<a class="stn-submit" href="#">保存</a>
					</li>
				</ul>

			</div>

		</div>




		<div class="clear"></div>
	</div>
</div>

<!--弹窗-->
<div class="am-main-popup">
	<div class="popup-top">
		<h3>请选择图片</h3>
		<a class="popup-close" href="#"><img src="webAssets/img/closess_03.png" title="" alt=""></a>

	</div>
	<div class="popup-middle">

		<ul class="popup-upload-photo">
			<li>
				<span>图片上传</span>
				<a href="#" class="popup-btn-load">点击上传</a>
			</li>
			<li>
				<div class="popup-img-box"></div>
				<div class="popup-img-group">
					<ul>
						<li class="pigl1">
							<img src="webAssets/img/new-headers_03.png" title="" alt="">
						</li>
						<li class="pigl2">
							<img src="webAssets/img/new-headers_07.png" title="" alt="">
						</li>
						<li class="pigl3">
							<img src="webAssets/img/new-headers_11.png" title="" alt="">
						</li>
					</ul>
				</div>
			</li>
			<li>
				<p>（建议上传200x200像素的图片，格式为jpg,png,gif,文件不超过1MB）</p>
				<a href="" class="popup-btn-save">保存修改</a>
			</li>
		</ul>
	</div>
</div>
<!--弹出背景遮罩-->
<div class="pop"></div>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="webAssets/js/jquery.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="webAssets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="webAssets/js/amazeui.min.js"></script>
<script src="webAssets/js/index.js"></script>

</body>
</html>