<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- <meta name="viewport"
          content="width=device-width, initial-scale=1"> -->
    <title>个人中心</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="stylesheet" href="/assets/css/amazeui.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/baces.css">
    <link rel="stylesheet" href="/assets/css/personal-center-header.css">
    <script src="/assets/js/jquery-1.12.0.js"></script>
    <script src="/assets/js/personal-center-header.js"></script>


</head>
<body>

<header class="am-topbar am-h-header">
    <h1 class="am-topbar-brand">
        <a href="#"><img src="/assets/img/logo.png" alt="" width=''><span>点映秀</span></a>
    </h1>
    <div class="am-topbar-right top-img">
        <div class='selfpic'>
            <img class="am-circle"
                 src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" width="36"
                 height="36"/>
        </div>
    </div>

    <div class="am-topbar-right top-img messList">
        <div class="notice">

            <span class="am-badge am-badge-red am-round am-notice"><%= value.length%></span>
        </div>
    </div>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-show-sm-only"
            data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav topnav">
            <li class="am-active">
                <a href="#">
                    <span class='homesi'></span>
                    首页
                </a>
            </li>
            <li>
                <a href="#">
                    <span class='search'></span>
                    <!-- <img src="/assets/img/searchshow.png" alt="" class='modelicon'>
                    <img src="/assets/img/searchshowa.png" alt="" class='activeicon'> -->
                    找秀场
                </a>
            </li>
            <li>
                <a href="#">
                    <span class='viewshow'></span>
                    <!-- <img src="/assets/img/viewshow.png" alt="" class='modelicon'>
                    <img src="/assets/img/viewshowa.png" alt="" class='activeicon'> -->
                    映秀场
                </a>
            </li>
            <li>
                <a href="#">
                    <span class='grades'></span>
                    <!-- <img src="/assets/img/grades.png" alt="" class='modelicon'>
                    <img src="/assets/img/grades.png" alt="" class='activeicon'> -->
                    映秀社区
                </a>
            </li>
        </ul>
    </div>
</header>

<div class="contents">
    <div class="am-conin-h">
        <div class="am-conleft-h">
            <div class="conleft-img">
                <div class="conleft-imgin">
                    <%if(user.avatarWeb) {%>
                    <img src="/photo/show<%= user.avatarWeb%>" title="头像" alt="头像">
                    <%}else {%>
                    <img src="/assets/img/selfimg.png" alt="">
                    <%}%>
                </div>
                <p><%= user.username%></p>
            </div>
            <div class="conleft-item">
                <ul>
                    <li class='conleft-list conleft-list-active'>
                        <a href="/website/show/personalCenter"><span class='baceicon'></span>基本信息</a>
                    </li>
                    <li class='conleft-list'><a href="/website/show/myNews?pageNum=1"><span class='mesicon'></span>我的消息</a></li>
                    <li class='conleft-list'><a href="/website/show/myWalletVoucher"><span class='moneyicon'></span>我的钱包</a>
                    </li>
                    <li class='conleft-list'><a href=""><span class='extendicon'></span>秀场推广</a></li>
                    <li class='conleft-list'><a href=""><span class='membericon'></span>会员中心</a></li>
                    <li class='conleft-list'><a href="/website/show/myGoods"><span class='ordericon'></span>我的订单</a>
                    </li>
                    <li class='conleft-list'><a href="/website/show/myCollect"><span class='collecticon'></span>我的收藏</a>
                    </li>
                    <li class='conleft-list'><a href="/website/show/Accountset"><span class='aseticon'></span>账户设置</a>
                    </li>
                </ul>
            </div>
            <div class="stardirect">
                <div class="directbtn">
                    开始直播秀
                </div>

            </div>
        </div>
        <!--头像-->
        <div class="am-conright-h">
            <div class="am-main-personal">
                <h3>个人信息</h3>
                <hr>
                <img src="/assets/img/redline_03.png" title="redline" alt="redline">
                <ul class="personal-info">
                    <li class="personal-head">
                        <span>头像:</span>
                        <a class="am-head-portrait" href="#">
                            <%if(user.avatarWeb) {%>
                            <img src="/photo/show<%= user.avatarWeb%>" title="头像" alt="头像">
                            <%}else {%>
                            <img src="/assets/img/headersss.png" title="头像" alt="头像">
                            <%}%>
                        </a>
                        <button type="button"
                                class="am-btn am-btn-primary am-btn-button"
                                data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 921, height: 618}">

                            修改头像

                        </button>
                        <p>建议上传200x200像素的图片，格式为jpg,png,gif,文件不超过1MB</p>
                    </li>
                    <li class="personal-account">
                        <span>账号:</span>
                        <p><%= user.mobile%></p>
                    </li>
                    <li class="personal-name">
                        <span>名称:</span>
                        <input class="showInput" type="text" value="<%= user.username%>">
                        <p class="eName"><%= user.username%></p>
                        <i class="editName">
                            <img src="/assets/img/rep_03.png" alt="">
                        </i>
                    </li>
                    <li class="personal-save">
                        <a class="stn-submit save" href="#">保存</a>
                    </li>
                </ul>

            </div>

        </div>


        <div class="clear"></div>
    </div>
</div>

<!--弹窗-->

<div class="am-modal am-modal-no-btn anb" tabindex="-1" id="doc-modal-1">
    <div class="am-modal-dialog popup-anb">
        <div class=" popup-top">
            <h3>请选择图片</h3>
            <a href="javascript: void(0)" data-am-modal-close class="popup-close" href="#"><img
                    src="/assets/img/closess_03.png" title="" alt=""></a>
        </div>

        <div class="popup-middle">
            <form action="/website/show/personalCenter/update" method="post" enctype="multipart/form-data">
                <ul class="popup-upload-photo">
                    <li>
                        <span>图片上传</span>
                        <a href="#" class="popup-btn-load">点击上传</a>
                        <input class="pml-file" type="file" name="file" id="file" value=""/>
                    </li>
                    <li>
                        <div class="popup-img-box"></div>
                        <div class="popup-img-group">
                            <ul>
                                <li class="pigl1">
                                    <img src="/assets/img/new-headers_03.png" title="" alt="">
                                </li>
                                <li class="pigl2">
                                    <img src="/assets/img/new-headers_07.png" title="" alt="">
                                </li>
                                <li class="pigl3">
                                    <img src="/assets/img/new-headers_11.png" title="" alt="">
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <p>（建议上传200x200像素的图片，格式为jpg,png,gif,文件不超过1MB）</p>
                        <button class="popup-btn-save" type="submit">保存修改</button>
                    </li>
                </ul>
            </form>

        </div>

    </div>
</div>

<!--在这里编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/index.js"></script>

<script>
    $(function () {
        $('.save').click(function () {
            var data = {};
            data.username = $('.showInput').val();
            $.ajax({
                type: 'POST',
                url: '/website/show/personalCenter/updateAll',
                dataType: 'json',
                data: data,
                success: function (result) {
                    if (result.code == 1) {
                        window.location.href = '/website/show/personalCenter';
                    }
                }
            });
        });
    });

    $('.messList').click(function () {
        window.location.href = '/website/show/myMessage?pageNum=1';
    });

</script>
</body>
</html>