body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u10042 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u10043 {
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u10044 {
  position:absolute;
  left:672px;
  top:111px;
  width:97px;
  height:38px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u10045 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#797979;
}
#u10046 {
  position:absolute;
  left:684px;
  top:189px;
  width:73px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#797979;
}
#u10047 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10048 {
  position:absolute;
  left:550px;
  top:227px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u10049 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10050 {
  position:absolute;
  left:562px;
  top:239px;
  width:175px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10051 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  white-space:nowrap;
}
#u10052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10053 {
  position:absolute;
  left:550px;
  top:303px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u10054 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
  background:inherit;
  background-color:rgba(19, 136, 186, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10055 {
  position:absolute;
  left:767px;
  top:303px;
  width:123px;
  height:46px;
  color:#CCCCCC;
}
#u10056 {
  position:absolute;
  left:2px;
  top:15px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u10057 {
  position:absolute;
  left:564px;
  top:315px;
  width:37px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u10058 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u10059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10059 {
  position:absolute;
  left:780px;
  top:317px;
  width:107px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u10060 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u10061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10061 {
  position:absolute;
  left:550px;
  top:454px;
  width:339px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u10062 {
  position:absolute;
  left:2px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u10063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u10063 {
  position:absolute;
  left:550px;
  top:519px;
  width:340px;
  height:1px;
}
#u10064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10065 {
  position:absolute;
  left:549px;
  top:538px;
}
#u10065_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10065_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10067 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u10068 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
}
#u10069 {
  position:absolute;
  left:122px;
  top:12px;
  width:97px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
}
#u10070 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10071 {
  position:absolute;
  left:550px;
  top:538px;
  visibility:hidden;
}
#u10071_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10071_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10072 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u10073 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10074 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u10076 {
  position:absolute;
  left:209px;
  top:9px;
  width:30px;
  height:30px;
}
#u10077 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10078_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:20px;
  height:21px;
}
#u10078p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:12px;
  height:1px;
}
#u10078p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:22px;
  height:21px;
}
#u10078p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u10078p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u10078p002 {
  position:absolute;
  left:-4px;
  top:-11px;
  width:22px;
  height:22px;
}
#u10078p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u10078.compound {
  width:0px;
  height:0px;
}
#u10078 {
  position:absolute;
  left:219px;
  top:23px;
  width:10px;
  height:1px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10079 {
  position:absolute;
  left:2px;
  top:-8px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10080 {
  position:absolute;
  left:102px;
  top:16px;
  width:97px;
  height:19px;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10081 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u10082 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u10083 {
  position:absolute;
  left:550px;
  top:378px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u10084 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u10085 {
  position:absolute;
  left:564px;
  top:389px;
  width:46px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u10086 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u10087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u10087 {
  position:absolute;
  left:30px;
  top:1052px;
  width:300px;
  height:57px;
  font-size:16px;
}
#u10088 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u10089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10089 {
  position:absolute;
  left:18px;
  top:1151px;
  width:459px;
  height:22px;
}
#u10090 {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  white-space:nowrap;
}
#u10091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10091 {
  position:absolute;
  left:97px;
  top:1185px;
  width:141px;
  height:20px;
}
#u10092 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u10093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10093 {
  position:absolute;
  left:18px;
  top:1207px;
  width:533px;
  height:22px;
}
#u10094 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  white-space:nowrap;
}
#u10095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10095 {
  position:absolute;
  left:18px;
  top:1233px;
  width:529px;
  height:22px;
}
#u10096 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  white-space:nowrap;
}
#u10097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10097 {
  position:absolute;
  left:97px;
  top:1264px;
  width:71px;
  height:20px;
}
#u10098 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10099 {
  position:absolute;
  left:45px;
  top:1288px;
  width:147px;
  height:22px;
}
#u10100 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u10101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10101 {
  position:absolute;
  left:45px;
  top:1314px;
  width:147px;
  height:22px;
}
#u10102 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u10103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#6699FF;
}
#u10103 {
  position:absolute;
  left:21px;
  top:1116px;
  width:109px;
  height:25px;
  font-size:18px;
  color:#6699FF;
}
#u10104 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u10105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#6699FF;
}
#u10105 {
  position:absolute;
  left:18px;
  top:1350px;
  width:91px;
  height:25px;
  font-size:18px;
  color:#6699FF;
}
#u10106 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u10107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10107 {
  position:absolute;
  left:30px;
  top:1387px;
  width:501px;
  height:22px;
}
#u10108 {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  white-space:nowrap;
}
#u10109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10109 {
  position:absolute;
  left:30px;
  top:1412px;
  width:627px;
  height:22px;
}
#u10110 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  white-space:nowrap;
}
#u10111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10111 {
  position:absolute;
  left:30px;
  top:1437px;
  width:515px;
  height:22px;
}
#u10112 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  white-space:nowrap;
}
#u10113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10113 {
  position:absolute;
  left:109px;
  top:1458px;
  width:71px;
  height:20px;
}
#u10114 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u10115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10115 {
  position:absolute;
  left:57px;
  top:1484px;
  width:259px;
  height:22px;
}
#u10116 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  white-space:nowrap;
}
#u10117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10117 {
  position:absolute;
  left:57px;
  top:1509px;
  width:301px;
  height:22px;
}
#u10118 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u10119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10119 {
  position:absolute;
  left:30px;
  top:1549px;
  width:483px;
  height:22px;
  color:#FF0000;
}
#u10120 {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  white-space:nowrap;
}
#u10121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u10121 {
  position:absolute;
  left:849px;
  top:393px;
  width:30px;
  height:17px;
}
#u10122 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u10123 {
  position:absolute;
  left:552px;
  top:434px;
  width:225px;
  height:20px;
  color:#FF0000;
}
#u10124 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
