body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:934px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:894px;
  height:563px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40151 {
  position:absolute;
  left:40px;
  top:77px;
  width:894px;
  height:563px;
}
#u40152 {
  position:absolute;
  left:2px;
  top:274px;
  width:890px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40153_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:101px;
  height:63px;
}
#u40153 {
  position:absolute;
  left:84px;
  top:111px;
  width:61px;
  height:42px;
}
#u40154 {
  position:absolute;
  left:2px;
  top:14px;
  width:57px;
  word-wrap:break-word;
}
#u40155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u40155 {
  position:absolute;
  left:155px;
  top:122px;
  width:61px;
  height:21px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:20px;
}
#u40156 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u40157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:2px;
}
#u40157 {
  position:absolute;
  left:76px;
  top:173px;
  width:816px;
  height:1px;
}
#u40158 {
  position:absolute;
  left:2px;
  top:-8px;
  width:812px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40159 {
  position:absolute;
  left:84px;
  top:217px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40160 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u40161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40161 {
  position:absolute;
  left:84px;
  top:263px;
  width:563px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40162 {
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  white-space:nowrap;
}
#u40163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
}
#u40163 {
  position:absolute;
  left:84px;
  top:316px;
  width:97px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
  text-decoration:underline;
}
#u40164 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u40165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:228px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40165 {
  position:absolute;
  left:84px;
  top:361px;
  width:536px;
  height:228px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40166 {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  white-space:nowrap;
}
#u40167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:809px;
  height:2px;
}
#u40167 {
  position:absolute;
  left:84px;
  top:550px;
  width:808px;
  height:1px;
}
#u40168 {
  position:absolute;
  left:2px;
  top:-8px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
