body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u32463 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
}
#u32464 {
  position:absolute;
  left:2px;
  top:442px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:38px;
}
#u32465 {
  position:absolute;
  left:614px;
  top:206px;
  width:442px;
  height:38px;
}
#u32466 {
  position:absolute;
  left:2px;
  top:11px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32467 {
  position:absolute;
  left:608px;
  top:123px;
  width:117px;
  height:66px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u32468 {
  position:absolute;
  left:2px;
  top:24px;
  width:113px;
  word-wrap:break-word;
}
#u32469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:66px;
}
#u32469 {
  position:absolute;
  left:734px;
  top:123px;
  width:328px;
  height:66px;
}
#u32470 {
  position:absolute;
  left:2px;
  top:25px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32471 {
  position:absolute;
  left:739px;
  top:128px;
  width:127px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32472 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u32473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32473 {
  position:absolute;
  left:737px;
  top:156px;
  width:249px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32474 {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  white-space:nowrap;
}
#u32475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32475 {
  position:absolute;
  left:623px;
  top:209px;
  width:221px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u32476 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  white-space:nowrap;
}
