body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u8966 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u8967 {
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u8968 {
  position:absolute;
  left:672px;
  top:111px;
  width:97px;
  height:38px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u8969 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#797979;
}
#u8970 {
  position:absolute;
  left:684px;
  top:189px;
  width:73px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#797979;
}
#u8971 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8972 {
  position:absolute;
  left:550px;
  top:227px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u8973 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8974 {
  position:absolute;
  left:562px;
  top:239px;
  width:133px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8975 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u8976 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8977 {
  position:absolute;
  left:550px;
  top:303px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u8978 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:46px;
  background:inherit;
  background-color:rgba(19, 136, 186, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8979 {
  position:absolute;
  left:767px;
  top:303px;
  width:123px;
  height:46px;
  color:#CCCCCC;
}
#u8980 {
  position:absolute;
  left:2px;
  top:15px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u8981 {
  position:absolute;
  left:564px;
  top:315px;
  width:37px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u8982 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8983 {
  position:absolute;
  left:780px;
  top:317px;
  width:107px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u8984 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u8985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8985 {
  position:absolute;
  left:550px;
  top:454px;
  width:339px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8986 {
  position:absolute;
  left:2px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u8987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u8987 {
  position:absolute;
  left:550px;
  top:519px;
  width:340px;
  height:1px;
}
#u8988 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8989 {
  position:absolute;
  left:549px;
  top:538px;
}
#u8989_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8989_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8990 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8991 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u8992 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
}
#u8993 {
  position:absolute;
  left:122px;
  top:12px;
  width:97px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#009DDA;
}
#u8994 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u8995 {
  position:absolute;
  left:550px;
  top:538px;
  visibility:hidden;
}
#u8995_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8995_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(0, 157, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 157, 218, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u8996 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u8997 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9000 {
  position:absolute;
  left:209px;
  top:9px;
  width:30px;
  height:30px;
}
#u9001 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:20px;
  height:21px;
}
#u9002p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:12px;
  height:1px;
}
#u9002p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:22px;
  height:21px;
}
#u9002p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u9002p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u9002p002 {
  position:absolute;
  left:-4px;
  top:-11px;
  width:22px;
  height:22px;
}
#u9002p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u9002.compound {
  width:0px;
  height:0px;
}
#u9002 {
  position:absolute;
  left:219px;
  top:23px;
  width:10px;
  height:1px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9003 {
  position:absolute;
  left:2px;
  top:-8px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9004 {
  position:absolute;
  left:102px;
  top:16px;
  width:97px;
  height:19px;
  font-family:'SIL-Hei-Med-Jian', 'Hei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9005 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9007 {
  position:absolute;
  left:550px;
  top:378px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u9008 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u9009 {
  position:absolute;
  left:564px;
  top:389px;
  width:218px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#A1A1A1;
}
#u9010 {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  white-space:nowrap;
}
#u9011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9011 {
  position:absolute;
  left:30px;
  top:1052px;
  width:300px;
  height:57px;
  font-size:16px;
}
#u9012 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u9013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9013 {
  position:absolute;
  left:18px;
  top:1128px;
  width:459px;
  height:22px;
}
#u9014 {
  position:absolute;
  left:0px;
  top:0px;
  width:459px;
  white-space:nowrap;
}
#u9015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9015 {
  position:absolute;
  left:97px;
  top:1157px;
  width:141px;
  height:20px;
}
#u9016 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u9017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9017 {
  position:absolute;
  left:18px;
  top:1183px;
  width:533px;
  height:22px;
}
#u9018 {
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  white-space:nowrap;
}
#u9019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9019 {
  position:absolute;
  left:18px;
  top:1209px;
  width:529px;
  height:22px;
}
#u9020 {
  position:absolute;
  left:0px;
  top:0px;
  width:529px;
  white-space:nowrap;
}
#u9021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9021 {
  position:absolute;
  left:97px;
  top:1236px;
  width:71px;
  height:20px;
}
#u9022 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9023 {
  position:absolute;
  left:45px;
  top:1260px;
  width:147px;
  height:22px;
}
#u9024 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u9025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9025 {
  position:absolute;
  left:45px;
  top:1286px;
  width:147px;
  height:22px;
}
#u9026 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  white-space:nowrap;
}
#u9027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9027 {
  position:absolute;
  left:549px;
  top:432px;
  width:99px;
  height:20px;
  color:#FF0000;
}
#u9028 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
