body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u9612 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  font-size:14px;
}
#u9613 {
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9614_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u9614 {
  position:absolute;
  left:672px;
  top:111px;
  width:97px;
  height:38px;
  font-family:'Helvetica-Light', 'Helvetica Light', 'Helvetica';
  font-weight:200;
  font-style:normal;
}
#u9615 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u9616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#797979;
}
#u9616 {
  position:absolute;
  left:683px;
  top:189px;
  width:73px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#797979;
}
#u9617 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 167, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9618 {
  position:absolute;
  left:550px;
  top:226px;
  width:340px;
  height:46px;
  color:#CCCCCC;
}
#u9619 {
  position:absolute;
  left:2px;
  top:15px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9620 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u9621 {
  position:absolute;
  left:593px;
  top:367px;
  width:253px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u9622 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u9623 {
  position:absolute;
  left:550px;
  top:302px;
}
#u9623_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9623_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:46px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9624 {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9625 {
  position:absolute;
  left:2px;
  top:12px;
  width:335px;
  word-wrap:break-word;
}
#u9626 {
  position:absolute;
  left:557px;
  top:228px;
  width:330px;
  height:40px;
}
#u9626_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u9628 {
  position:absolute;
  left:621px;
  top:390px;
  width:183px;
  height:17px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#A1A1A1;
}
#u9629 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u9630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9630 {
  position:absolute;
  left:24px;
  top:1034px;
  width:457px;
  height:24px;
}
#u9631 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9632 {
  position:absolute;
  left:84px;
  top:1062px;
  width:457px;
  height:19px;
  font-size:16px;
}
#u9633 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9634 {
  position:absolute;
  left:84px;
  top:1091px;
  width:457px;
  height:19px;
  font-size:16px;
}
#u9635 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9636 {
  position:absolute;
  left:24px;
  top:1123px;
  width:506px;
  height:24px;
  font-size:20px;
}
#u9637 {
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  word-wrap:break-word;
}
#u9638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:57px;
}
#u9638 {
  position:absolute;
  left:127px;
  top:1123px;
  width:327px;
  height:57px;
  font-size:16px;
}
#u9639 {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  word-wrap:break-word;
}
#u9640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9640 {
  position:absolute;
  left:24px;
  top:1184px;
  width:457px;
  height:24px;
  font-size:20px;
}
#u9641 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9642 {
  position:absolute;
  left:84px;
  top:1188px;
  width:457px;
  height:19px;
  font-size:16px;
}
#u9643 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u9644 {
  position:absolute;
  left:24px;
  top:1215px;
  width:457px;
  height:24px;
  font-size:20px;
}
#u9645 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u9646 {
  position:absolute;
  left:84px;
  top:1220px;
  width:457px;
  height:19px;
  font-size:16px;
}
#u9647 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9648 {
  position:absolute;
  left:24px;
  top:1251px;
  width:457px;
  height:43px;
}
#u9649 {
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  word-wrap:break-word;
}
#u9650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u9650 {
  position:absolute;
  left:614px;
  top:237px;
  width:1px;
  height:22px;
}
#u9651 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
