body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u40901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40901 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
}
#u40902 {
  position:absolute;
  left:2px;
  top:504px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40905 {
  position:absolute;
  left:0px;
  top:2px;
  width:1440px;
  height:48px;
}
#u40906 {
  position:absolute;
  left:2px;
  top:16px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u40907 {
  position:absolute;
  left:1369px;
  top:10px;
  width:33px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
}
#u40908 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  word-wrap:break-word;
}
#u40909_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:70px;
  height:51px;
}
#u40909 {
  position:absolute;
  left:1323px;
  top:11px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u40910 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u40911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u40911 {
  position:absolute;
  left:81px;
  top:17px;
  width:55px;
  height:19px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u40912 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u40913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u40914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u40914 {
  position:absolute;
  left:699px;
  top:9px;
  width:66px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40915 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u40916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u40916 {
  position:absolute;
  left:820px;
  top:9px;
  width:66px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u40917 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u40918_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:58px;
  height:39px;
}
#u40918 {
  position:absolute;
  left:679px;
  top:14px;
  width:18px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u40919 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u40920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u40920 {
  position:absolute;
  left:772px;
  top:16px;
  width:1px;
  height:17px;
}
#u40921 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40922_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:58px;
  height:39px;
}
#u40922 {
  position:absolute;
  left:802px;
  top:14px;
  width:18px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u40923 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u40924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
}
#u40924 {
  position:absolute;
  left:577px;
  top:9px;
  width:66px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40925 {
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u40926_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:58px;
  height:39px;
}
#u40926 {
  position:absolute;
  left:555px;
  top:14px;
  width:18px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u40927 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  word-wrap:break-word;
}
#u40928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
}
#u40928 {
  position:absolute;
  left:653px;
  top:16px;
  width:1px;
  height:17px;
}
#u40929 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40930_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:91px;
  height:54px;
}
#u40930 {
  position:absolute;
  left:20px;
  top:9px;
  width:51px;
  height:33px;
  font-size:12px;
}
#u40931 {
  position:absolute;
  left:2px;
  top:10px;
  width:47px;
  word-wrap:break-word;
}
#u40932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u40932 {
  position:absolute;
  left:153px;
  top:19px;
  width:1px;
  height:16px;
}
#u40933 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40934 {
  position:absolute;
  left:176px;
  top:18px;
  width:129px;
  height:16px;
  font-family:'STHeitiTC-Light', 'Heiti TC Light', 'Heiti TC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40935 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u40936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40936 {
  position:absolute;
  left:1150px;
  top:10px;
  width:133px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40937 {
  position:absolute;
  left:2px;
  top:7px;
  width:129px;
  word-wrap:break-word;
}
#u40938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u40938 {
  position:absolute;
  left:1340px;
  top:7px;
  width:19px;
  height:20px;
}
#u40939 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u40940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:48px;
}
#u40940 {
  position:absolute;
  left:543px;
  top:0px;
  width:111px;
  height:48px;
}
#u40941 {
  position:absolute;
  left:2px;
  top:16px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:48px;
}
#u40942 {
  position:absolute;
  left:662px;
  top:0px;
  width:104px;
  height:48px;
}
#u40943 {
  position:absolute;
  left:2px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:48px;
}
#u40944 {
  position:absolute;
  left:783px;
  top:0px;
  width:104px;
  height:48px;
}
#u40945 {
  position:absolute;
  left:2px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:915px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40946 {
  position:absolute;
  left:120px;
  top:76px;
  width:829px;
  height:915px;
}
#u40947 {
  position:absolute;
  left:2px;
  top:450px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:829px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40948 {
  position:absolute;
  left:120px;
  top:76px;
  width:829px;
  height:51px;
}
#u40949 {
  position:absolute;
  left:2px;
  top:18px;
  width:825px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40950 {
  position:absolute;
  left:171px;
  top:91px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40951 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u40952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:8px;
}
#u40952 {
  position:absolute;
  left:959px;
  top:76px;
  width:360px;
  height:8px;
}
#u40953 {
  position:absolute;
  left:2px;
  top:-4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40954_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:296px;
  height:166px;
}
#u40954 {
  position:absolute;
  left:407px;
  top:276px;
  width:256px;
  height:145px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u40955 {
  position:absolute;
  left:2px;
  top:62px;
  width:252px;
  word-wrap:break-word;
}
#u40956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u40956 {
  position:absolute;
  left:391px;
  top:471px;
  width:289px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#868686;
}
#u40957 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u40958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:127px;
}
#u40958 {
  position:absolute;
  left:959px;
  top:82px;
  width:360px;
  height:127px;
}
#u40959 {
  position:absolute;
  left:2px;
  top:56px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40960_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:93px;
  height:65px;
}
#u40960 {
  position:absolute;
  left:1003px;
  top:112px;
  width:53px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40961 {
  position:absolute;
  left:2px;
  top:13px;
  width:49px;
  word-wrap:break-word;
}
#u40962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40962 {
  position:absolute;
  left:997px;
  top:166px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40963 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40964_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:93px;
  height:65px;
}
#u40964 {
  position:absolute;
  left:1113px;
  top:112px;
  width:53px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40965 {
  position:absolute;
  left:2px;
  top:13px;
  width:49px;
  word-wrap:break-word;
}
#u40966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40966 {
  position:absolute;
  left:1107px;
  top:169px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40967 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40968_img {
  position:absolute;
  left:-20px;
  top:-20px;
  width:93px;
  height:65px;
}
#u40968 {
  position:absolute;
  left:1224px;
  top:113px;
  width:53px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40969 {
  position:absolute;
  left:2px;
  top:13px;
  width:49px;
  word-wrap:break-word;
}
#u40970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40970 {
  position:absolute;
  left:1218px;
  top:170px;
  width:65px;
  height:16px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u40971 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u40972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:180px;
}
#u40972 {
  position:absolute;
  left:959px;
  top:227px;
  width:360px;
  height:180px;
}
#u40973 {
  position:absolute;
  left:2px;
  top:82px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:118px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40974 {
  position:absolute;
  left:992px;
  top:258px;
  width:120px;
  height:118px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40975 {
  position:absolute;
  left:2px;
  top:50px;
  width:116px;
  word-wrap:break-word;
}
#u40976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40976 {
  position:absolute;
  left:1002px;
  top:268px;
  width:101px;
  height:98px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40977 {
  position:absolute;
  left:2px;
  top:40px;
  width:97px;
  word-wrap:break-word;
}
#u40978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u40978 {
  position:absolute;
  left:1203px;
  top:259px;
  width:91px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u40979 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u40980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u40980 {
  position:absolute;
  left:1184px;
  top:286px;
  width:109px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u40981 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u40982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u40982 {
  position:absolute;
  left:1155px;
  top:313px;
  width:149px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u40983 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u40984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40984 {
  position:absolute;
  left:1205px;
  top:354px;
  width:88px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u40985 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u40986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:4px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40986 {
  position:absolute;
  left:159px;
  top:123px;
  width:50px;
  height:4px;
}
#u40987 {
  position:absolute;
  left:2px;
  top:-6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40988 {
  position:absolute;
  left:454px;
  top:536px;
  width:164px;
  height:40px;
}
#u40989 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
